@model IEnumerable<OnlineEducation.Models.managecourse>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}

<h1>Manage Course Details</h1>
<br />
<a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#course">Add Course</a>
<br />
<br />
<table class="table table-bordered table-hover text-center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Book</th>
            <th>Title</th>
            <th>Book Details</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int sr = 1;
        }
        @foreach(var data in Model)
        {
            <tr>
                <td>@sr</td>
                <td><img src="~/CoursePicture/@data.coursepic" style="height:100px;" /></td>
                <td>@data.title</td>
                <td>@data.coursedetail</td>
                <td>@data.price</td>
                <td>
                    <a class="btn btn-danger" asp-action="DeleteCourse" asp-route-id="@data.id" asp-controller="Admin">Delete</a>
                </td>
            </tr>
            sr++;
        }
    </tbody>
</table>


<div class="modal fade" id="course">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Course</h4>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="ManageCourse" enctype="multipart/form-data">
                    Upload Course Picture
                    <input type="file" name="coursepic" required class="form-control" />
                    Title
                    <input type="text" name="title" required class="form-control" />
                    Detail
                    <input type="text" name="coursedetail" required class="form-control" />
                    Price
                    <input type="number" name="price" required class="form-control" />
                    <br />
                    <button class="btn btn-warning">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>