@model IEnumerable<OnlineEducation.Models.register>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "ManageUser";
}

<h1>Manage Users</h1><br />
<table class="table table-bordered table-hover text-center">
    <thead>
        <tr>
            <th>Sr</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
            <th>Password</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @{
            int sr = 1;
        }
       @foreach(var x in Model)
        {
            <tr>
                <td>@sr</td>
                <td>@x.name</td>
                <td>@x.email</td>
                <td>@x.mobile</td>
                <td>@x.city</td>
                <td>@x.password</td>
                <td><a class="btn btn-danger" asp-action="UserSoftDelete" asp-route-id="@x.id" asp-controller="Admin">Delete</a></td>
            </tr>
            sr++;
        }
    </tbody>

</table>

@* <div class="modal fade" id="manageusers">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New User</h4>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="ManageUser">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" />
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" />
                    <label>Mobile</label>
                    <input type="number" name="mobile" class="form-control" />
                    <label>City</label>
                    <input type="text" name="city" class="form-control" />
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" />
                    <br />
                    <button class="btn btn-warning">Add User</button>
                </form>
            </div>
        </div>
    </div>
</div> *@